.slide {
    border-radius: 20px;
    width: 272px;
}

.slide h3 {
    background: #DDE0E4;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: 85%;
    height: 100%;
}

.slider-container {
    max-width: 508px;
    margin: 20px auto;
    position: relative;
}

.slick-track {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /*margin-left: -12px; !* Уменьшите отрицательное значение отступа слева *!*/
    /*margin-right: -12px; !* Уменьшите отрицательное значение отступа справа *!*/
}

.slick-slide {
    /*margin: 0 auto;*/
    /*max-width: 272px;*/
}

.arrow {
    outline: none !important;
    padding: 0;
    border: none;
    /*background: #DDE0E4;*/
    position: absolute;
    /*z-index: 10;*/
    top: 40%;
    width: 44.849px;
    height: 44.849px;
    /*transform: translateY(-50%);*/
    background: transparent;
}


.next {
    outline: none;
    right: 10px;
}

.prev {
    outline: none;
    left: 10px;
}