:root {
  width: 100vw;
  margin: 0;
  padding: 0;
  /*position: relative;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /*position: relative;*/
  margin: 0;
  padding: 0;
  width: 100vw;
  /*display: flex;*/
  /*justify-content: center;*/
  /*place-items: center;*/
}
